@font-face {
	font-family: Exca;
	src: url(Excalifont-Regular.woff2);
}
@font-face {
	font-family: auto2;
	src: url(Santa\ Catalina1.otf);
}

body {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
	background-color: #dff2eb;
	font-family: auto2;
	font-weight: 100;
}

.envelope {
	position: relative;
	cursor: pointer;
	box-shadow: 0px 15px 50px #4a628a;
	animation-name: enve;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}

@keyframes enve {
	0% {
		margin-top: 100rem;
	}
	45% {
		margin-top: -15rem;
	}
	75% {
		margin-top: 20rem;
		scale: 1.2;
	}
	100% {
		transform: rotate(360deg);
	}
}

.back {
	position: relative;
	width: 250px;
	height: 200px;
	background-color: #4a628a;
}

.front {
	position: absolute;
	border-right: 130px solid #30b8f7;
	border-top: 100px solid transparent;
	border-bottom: 100px solid transparent;
	height: 0;
	width: 0;
	top: 0;
	left: 120px;
	z-index: 3;
}

.front::before {
	content: "";
	position: absolute;
	border-left: 130px solid #30b8f7;
	border-top: 100px solid transparent;
	border-bottom: 100px solid transparent;
	height: 0;
	width: 0;
	top: -100px;
	left: -120px;
}
.front:after {
	content: "";
	position: absolute;
	border-bottom: 105px solid #45aedf;
	border-left: 125px solid transparent;
	border-right: 125px solid transparent;
	height: 0;
	width: 0;
	top: -5px;
	left: -120px;
}

.top {
	position: absolute;
	border-top: 105px solid #65c7f5;
	border-left: 125px solid transparent;
	border-right: 125px solid transparent;
	height: 0;
	width: 0;
	top: 0;
	transform-origin: top;
	transition: 0.6s;
}

.envelope:hover .top {
	transform: rotateX(160deg);
}

.letter {
	position: absolute;
	background-color: wheat;
	width: 230px;
	height: 190px;
	top: 10px;
	left: 10px;
	transition: 0.1s;
}

.envelope:hover .letter {
	transform: translateY(-100px);
	z-index: 2;
}

.text1 {
	position: absolute;
	color: green;
	top: -50%;
}

.text {
	padding: 7px;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
	margin-top: 29px;
	position: relative;
	top: -20px;
}
a {
	padding: 7px;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 1rem;
	font-family: auto2;
	position: relative;
	top: -35px;
	text-decoration: underline;
	font-weight: bold;
	color: rgb(0, 174, 255);
	z-index: 0;
}

/* xs */
@media (min-width: 475px) {
	.container {
		max-width: 475px;
	}
	.envelope {
		max-width: 475px;
		scale: 1;
	}
}

/* sm */
@media (min-width: 640px) {
	.container {
		max-width: 640px;
	}
	.envelope {
		max-width: 640px;
		scale: 1;
	}
}

/* md */
@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}
	.envelope {
		max-width: 768px;
		scale: 1.2;
	}
}

/* lg */
@media (min-width: 1024px) {
	.container {
		max-width: 1024px;
	}
	.envelope {
		max-width: 1024px;
		scale: 1.4;
	}
}

/* xl */
@media (min-width: 1280px) {
	.container {
		max-width: 1280px;
	}
	.envelope {
		max-width: 1280px;
		scale: 1.5;
	}
}

/* 2xl */
@media (min-width: 1536px) {
	.container {
		max-width: 1536px;
	}
	.envelope {
		max-width: 1536px;
		scale: 1.5;
	}
}

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
