body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #d8bfd8;
}

.animation-box {
	width: 70%;
	height: 27.6rem;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.dear {
	font-size: 4.4rem;
	color: white;
	position: absolute;
	left: 2.5rem;
	top: 5rem;
	top: 5rem;
	opacity: 0;
	animation-name: letter1;
	animation-duration: 5s;
}

.first-text {
	font-size: 4.4rem;
	color: white;
	position: absolute;
	left: 2.5rem;
	top: 5rem;
	top: 5rem;
	opacity: 0;
	animation-name: letter2;
	animation-duration: 5s;
}
