@font-face {
	font-family: Exca;
	src: url(Excalifont-Regular.woff2);
}
@font-face {
	font-family: auto2;
	src: url(Santa\ Catalina1.otf);
}
body {
	margin: 1.5rem;
	/* border: 3px dashed rgb(183, 0, 255);
	outline: 6px solid rgb(128, 112, 216);
	outline-offset: 5px; */
	height: auto;
	display: flex;
	font-family: serif;
	font-style: oblique;
	background-color: #bcfffc;
	overflow-y: scroll;
	line-height: 2rem;
	/*font-size: clamp(1.125rem, 2vw, 1.25rem);
*/
	font-size: 20px;
}
html {
}
div {
	padding-top: 20rem;
	padding-bottom: 20rem;
	animation: fade 10s ease-in-out both;
	animation-timeline: view();
	animation-range: entry 50% cover 50%;
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.dear {
	animation: reveal 1s ease-in-out;
	text-align: center;
}

@keyframes reveal {
	from {
		opacity: 0;
		scale: 2;
	}
	to {
		opacity: 1;
		scale: 1;
	}
}

.eight-text {
	margin-bottom: 11rem;
}

@media (min-width: 475px) {
	.container {
		max-width: 475px;
	}
	.envelope {
		max-width: 475px;
		scale: 1;
	}
	.dear {
		margin-top: 27rem;
	}
	div {
		text-align: justify;
	}
}

/* sm */
@media (min-width: 640px) {
	.container {
		max-width: 640px;
		text-align: center;
	}
	.dear {
		margin-top: 27rem;
	}
	div {
		font-size: 1.7rem;
		line-height: 4.5rem;
		text-align: justify;
	}
}

/* md */
@media (min-width: 768px) {
	.container {
		max-width: 768px;
		text-align: center;
	}
	.dear {
		margin-top: 27rem;
	}
	div {
		font-size: 2.3rem;
		line-height: 4.5rem;
	}
}

/* lg */
@media (min-width: 1024px) {
	.container {
		max-width: 1024px;
		text-align: center;
	}
	.dear {
		margin-top: 27rem;
	}
	div {
		font-size: 2.9rem;
		line-height: 5rem;
		text-align: center;
	}
}

/* xl */
@media (min-width: 1280px) {
	.container {
		max-width: 1280px;
	}
	.dear {
		margin-top: 27rem;
	}
	div {
		font-size: 2.9rem;
		line-height: 5rem;
		text-align: center;
	}
}

/* 2xl */
@media (min-width: 1536px) {
	.container {
		max-width: 1536px;
	}
	.dear {
		margin-top: 9rem;
	}
	div {
		font-size: 2.9rem;
		line-height: 5rem;
		text-align: center;
	}
}

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	align-items: center;
	justify-content: center;
	text-align: justify;
}
* {
	margin: 0;
	padding: 0;
}
