@font-face {
	font-family: Exca;
	src: url(Excalifont-Regular.woff2);
}
@font-face {
	font-family: auto2;
	src: url(Santa\ Catalina1.otf);
}
body {
	font-family: auto2;
	background-color: #bcfffc;
	line-height: 5rem;
	overflow-y: scroll;
	padding: 4rem;
	font-size: 5vh;
}
div {
	margin-bottom: 5rem;
}
